<html>
  <body>
    <script>
      let obj = {
        paths: [],
        selectedKeysMap: {},
        routes: [
          {
            path: "/user",
            hiddenInMenu: true, // 标志是否渲染在sideMenu
            children: [
              {
                path: "/user",
                redirect: { name: "login" }
              },
              {
                path: "login",
                name: "login"
              },
              {
                path: "register"
              }
            ]
          },
          {
            path: "/",
            children: [
              {
                path: "/",
                redirect: "/dashboard/analysis"
              },
              {
                path: "/dashboard",
                name: "dashboard", // 有name字段的渲染为一级菜单
                meta: { icon: "dashboard", title: "仪表盘" },
                children: [
                  {
                    path: "analysis",
                    name: "analysis",
                    meta: { icon: "", title: "分析页" }
                  }
                ]
              },
              {
                path: "/form",
                name: "form",
                meta: { icon: "form", title: "表单" },
                children: [
                  {
                    path: "/form",
                    redirect: { name: "basicform" }
                  },
                  {
                    path: "basic-form",
                    meta: { icon: "", title: "基础表单" },
                    name: "basicform"
                  },
                  {
                    path: "step-form",
                    name: "stepform",
                    meta: { icon: "", title: "分步表单" },
                    hiddenChildrenMenu: true,
                    redirect: { name: "info" },
                    children: [
                      {
                        path: "info",
                        name: "info",
                        meta: { icon: "", title: "表单信息" }
                      },
                      {
                        path: "confirm",
                        name: "confirm",
                        meta: { icon: "", title: "表单确认" }
                      },
                      {
                        path: "result",
                        name: "result",
                        meta: { icon: "", title: "表单结果" }
                      }
                    ]
                  }
                ]
              }
            ]
          },
          {
            path: "*",
            hiddenInMenu: true,
          }
        ],
        generateMenuList(route, parentPath='') {
        let copyRoutes = [...route];
        let list = []
        let path = parentPath
        copyRoutes.forEach((item) => {
          let paths = path
          // exclude hidden memus
          if (!item.hiddenInMenu) {
            // subMenu
            if (item.children && !item.hiddenChildrenMenu) {
              if (item.name) {
                paths += `${item.path}`
                list.push({
                  key: item.path,
                  title: item.meta.title,
                  icon: item.meta.icon,
                  children: this.generateMenuList(item.children, paths)
                });
              } else {
                list = this.generateMenuList(item.children, ''); // 这里容易犯错误，写成了 this.this.generateMenuList(item.children)
              }
            // menu-item
            } else {
              if (item.name) {
                path = `${parentPath}/${item.path}`
                this.selectedKeysMap[path] = item.path
                console.log('selecteMap', this.selectedKeysMap)
                list.push({ key: item.path, title: item.meta.title });
              }
            }
          }
        })
        return list;
      }
    }
    let list = obj.generateMenuList(obj.routes)
    console.log('list', list)

    </script>
  </body>
</html>